.itemLocation {
  width: 180px;
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.itemLocation span {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  text-transform: uppercase;
  /* text/input */
  color: #7c857c;
  white-space: nowrap;
  margin: auto 5px;
}
@media (max-width: 500px) {
  .itemLocation {
    justify-content: flex-start;
    margin: 5px 0;
  }
  .itemLocation span {
    font-size: 13px;
    line-height: 16px;
    margin: auto 10px;
  }
}
