.navigationItems p {
  color: #708236;
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 auto;
  cursor: pointer;
  white-space: nowrap;
}

.navigationItems span {
  color: #708236;
  font-size: 23px;
  line-height: 39px;
  text-align: center;
  margin: 0 auto;
  border: 1px dashed #708236;
  transform: rotate(180deg);
  height: 25px;
}

.navigationItems p:hover {
  color: #708236;
  transition: 0.3s ease;
}

.navigationItems {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  margin: 20px 0;
}

@media (max-width: 500px) {
  .navigationItems {
    display: flex;
    flex-direction: column;
  }
  .navigationItems span {
    display: none;
  }
  .navigationItems p {
    font-size: 13px;
    line-height: 23px;
    text-align: right;
    text-transform: uppercase;
    color: #fbfbfb;
    color: #fbfbfb;
    cursor: pointer;
    margin: 10px auto;

    padding: 0;
    white-space: nowrap;
  }
  .navigationItems p:hover {
    color: #000;
    transition: 0.3s ease;
  }
}