.slides {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.navButtons {
  width: 24px;
  cursor: pointer;
  margin: 10px 0;
}

.dotsControls {
  display: block;
  text-align: center;
}
.carouselImages {
  width: 270px;
  height: 269px;
  margin: 0 15px;
  border-radius: 200px;
  border-image: url("../../../assets/images/border.svg") 20 //* slice */ 20px
    18px 18px 20px //* width */ 5px 5px 5px 5px /* outset */;
}

.slideTitle {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  /* text/type */
  color: #393939;
  margin: 10px 0;
  position: relative;
  height: 90px;
  width: 300px;
}

.slideName {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  /* text/input */
  color: #7c857c;
}
.list li {
   transition: transform .6s cubic-bezier(.3,0,.9,1),-webkit-transform .6s cubic-bezier(.3,0,.9,1) !important;
}
.list li:last-child {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
  transform: translateX(-5px);
}
@-webkit-keyframes fade {
   from {opacity: .6} 
   to {opacity: 1}
 }
 
 @keyframes fade {
   from {opacity: .6} 
   to {opacity: 1}
 }
@media (max-width: 500px) {
  .carouselImages {
    width: 147px;
    height: 147px;
  }
  .slideTitle {
    font-size: 13px;
    line-height: 23px;
    width: auto;
    height: 50px;
  }
  .slideName {
    font-size: 14px;
    line-height: 23px;
  }
  .list {
    width: 360px;
    margin: 0 auto;
  }
}
