.ViewReports {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 22px;
}
.ViewReportsImg {
  background-image: url("../../../assets/images/Group6135.png");
  width: 215px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  top: 20px;
  position: relative;
}
.ViewReportsImg:after {
  background-image: url("../../../assets/images/Group4135.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  width: 167px;
  height: 50px;
  position: relative;
  top: -30px;
  left: -150px;
}
.ViewReportsDescribe {
  width: 270px;
  height: 132px;
  filter: drop-shadow(0px 0px 1px rgba(40, 41, 61, 0.04))
    drop-shadow(0px 2px 4px rgba(96, 97, 112, 0.16));
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
}
.ViewReportsDescribe:before {
  background-image: url("../../../assets/images/Group5133.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  width: 45px;
  height: 50px;
  position: absolute;
  top: -40px;
  left: -30px;
}
.ViewReportsTitle p {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #1780df;
  padding: 0 5px;
  margin: 15px auto;
}
.ViewReportsTxt {
  padding: 0 5px;
  margin: 5px auto;
}
.ViewReportsTxt p {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 500px) {
  .ViewReports {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  .ViewReportsImg {
    width: 115px;
    height: 107px;
    top: 0;
    margin: 10px 0;
  }
  .ViewReportsImg:after ,.ViewReportsImg:before{
    display: none;
  }
  .ViewReportsDescribe {
    width: 165px;
    height: 93px;
    margin: 0;
    top: 0;
  }
  .ViewReportsDescribe:before{
    display: none;
  }
  .ViewReportsTitle p {
    font-size: 15px;
    line-height: 23px;
    margin: 5px auto;
  }
  .ViewReportsTxt{
    margin: 0;
  }
}
