.slides {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.textSliderTitle {
   font-family: IRANSans;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 55px;
   text-align: center;
   text-transform: uppercase;
   /* text/dark */
   color: #162C17;
   margin-bottom: 40px;
}

.list {
   display: flex;
   padding: 0;
   list-style-type: none;
   overflow: hidden;
   width: 1160px;
}

.dotsControls {
   display: block;
   text-align: center;
}

.slidertext {
   font-family: IRANSans;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 31px;
   text-align: center;
   text-transform: uppercase;
   /* text/dark */
   color: #162C17;
   margin: 100px 0;
}

.quotUp {
   position: absolute;
   top: 0;
   right: 0;
}

.quotDown {
   position: absolute;
   bottom: 0;
   left: 0;
}

@media(max-width:500px) {
   .list {
      width: auto;
   }
   .textSliderTitle {
      font-size: 18px;
      line-height: 31px;
   }
   .slidertext {
      font-size: 10px;
      line-height: 16px;
      margin: 50px 0;
   }
   .quotUp img, .quotDown img {
      width: 45px;
      height: 40.45px;
   }
}