.farmsItemreturnRate {
  display: flex;
  width: 170px;
  position: relative;
}

.attractingInvestorsTitle,
.returnRateTitle {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  /* asli/1 */
  color: #1780df;
  white-space: nowrap;
}

.farmsItemreturnRateText {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  justify-content: center;
  margin-bottom: 5px;
}
