.farmConfirmation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
}
.farmConfirmationImgContainer {
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.farmConfirmationImg {
  background-image: url("../../../assets/images/Group6131.png");
  width: 215px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  top: 10px;
  position: relative;
}
.farmConfirmationImg:before {
  background-image: url("../../../assets/images/Group5131.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  width: 70px;
  height: 61px;
  position: relative;
  top: 15px;
}
.farmConfirmationImg:after {
  background-image: url("../../../assets/images/Group4135.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  width: 167px;
  height: 50px;
  position: relative;
  top: -80px;
  left: -130px;
}
.farmConfirmationDescribe {
  width: 270px;
  height: 132px;
  filter: drop-shadow(0px 0px 1px rgba(40, 41, 61, 0.04))
    drop-shadow(0px 2px 4px rgba(96, 97, 112, 0.16));
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
}
.farmConfirmationTitle p {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #1780df;
  padding: 0 5px;
  margin: 15px auto;
}
.farmConfirmationTxt {
  padding: 0 5px;
  margin: 5px auto;
}
.farmConfirmationTxt p {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 500px) {
  .farmConfirmation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  .farmConfirmationImg {
    width: 115px;
    height: 107px;
    top: 0;
    margin: 10px 0;
  }
  .farmConfirmationImg:after ,.farmConfirmationImg:before{
    display: none;
  }
  .farmConfirmationDescribe {
    width: 165px;
    height: 93px;
    margin: 0;
    top: 0;
  }
  .farmConfirmationTitle p {
    font-size: 15px;
    line-height: 23px;
    margin: 5px auto;
  }
  .farmConfirmationTxt{
    margin: 0;
  }
}
