.farmsItemagent {
   font-family: IRANSans;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 23px;
   text-align: right;
   text-transform: uppercase;
 
   /* text/type */
   color: #393939;
 }