.runTimeCount{
   font-family: IRANSans;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   text-transform: uppercase;
   color: #393939;
   position: absolute;
   left: 6px;
   top: 7px;
   width: 17px;
   margin: 0 auto;
   display: block;
}
.loginRunTimeCount{
   color: #FBFBFB;   
   font-family: IRANSans;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   text-transform: uppercase;
   position: absolute;
   left: 6px;
   top: 7px;
   width: 17px;
   margin: 0 auto;
   display: block;

}
.runTimer {
   position: relative;
   margin: 0 8px;
   width: 30.17px;
   height: 27.99px;
}
.runTimer img{
  -webkit-animation: spin 8s linear infinite; /* Safari */
  animation: spin 8s linear infinite;
  width: 30.17px;
  height: 27.99px;
  position: relative;
}
@-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

.runTimerHide {
   display: none;
}