
.itemImage {
   display: flex;
   flex-direction: column;
}

.mainImage {
   width: 470px;
   height: 550px;
   position: relative;
}

.itemImage img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 30px;
}

.textOverImage {
   position: absolute;
   top: 30px;
   right: 0;
   height: 30px;
   background: #94C794;
   border-radius: 15px 0px 0px 15px;
   min-width: 120px;
   max-width: 220px;

}

.productTypeTitle {
   padding: 5px 8px;
   font-family: IRANSans;
   font-style: normal;
   font-weight: normal;
   font-size: 17px;
   line-height: 23px;
   text-align: center;
   text-transform: uppercase;
   white-space: nowrap;
   color: #FBFBFB;
}

.otherImages {
   display: flex;
   flex-direction: row;
   margin: 20px 0;
}

.otherImages img {
   width: 84.94px;
   height: 110px;
   border-radius: 10px;
   margin: 0 10px;
   cursor: pointer;
   object-fit: cover;
}
@media (max-width:500px) {
   
   .itemImage {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
   }
   .mainImage {
      width: 345px;
      height: 359px;
   }
   .itemImage img {
      border-radius: 15px;
   }
}