.farmsItemImage {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 5px;
  transform: scale(1);
  width: 100%;
  height: 214px;
  min-width: 355px;
}

.farmsItemImage img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.cardInfoHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.farmsItemTitle p {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  text-align: right;
  text-transform: uppercase;
  /* text/dark */
  color: #162c17;
  margin: 10px 0 10px 0;
}

.farmsItemOwner {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  text-align: right;
  text-transform: uppercase;
  /* text/type */
  color: #393939;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.farmsItemDescription {
  width: 220px;
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  /* text/ligfht */
  color: #5c5c5c;
  text-align: justify;
  margin: 10px 0;
}

.farmsItemBtn {
  background: #708236;
  border-radius: 30px;
  width: 230px;
  height: 35px;
  margin-top: 20px;
}

.farmsItemBtn:hover {
  box-shadow: 0 10px 13px -10px #0c2d33;
  background-color: #007a48;
  transition: 0.4s ease;
}

.farmsItemBtn span {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;
}

.farmsItemreturnRate {
  display: flex;
  width: 170px;
  position: relative;
}

.attractingInvestorsTitle,
.returnRateTitle {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  /* asli/1 */
  color: #1780df;
  white-space: nowrap;
}

.farmsItemreturnRateText {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  justify-content: center;
}

.cardInfo hr {
  border: 0.7px solid #e0dfdf;
  width: 100%;
  margin: 35px 0;
}

.itemLocation {
  display: none;
}

.farmsItemCardsmall {
  display: none;
}

@media (max-width: 500px) {
  .farmsItemCard {
    display: none;
  }
  .farmsItemCardsmall {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 15px;
  }
  .farmsItemImage {
    min-width: auto;
    margin: 10px auto;
  }
  .cardInfo {
    margin: 0 5px;
  }
  .itemLocation {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
  .itemLocation span {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    /* text/input */
    color: #7c857c;
    white-space: nowrap;
    margin-right: 5px;
  }
  .farmsItemDescription {
    width: 100%;
    margin: 20px 0;
    font-size: 10px;
  }
  .cardInfoContainer {
    display: flex;
    flex-direction: row;
  }
  .farmsItemreturnRate {
    flex-direction: column;
  }
  .cardInfo hr {
    height: 71px;
    width: 0;
    border: 1px solid #1780df;
    margin: auto 0;
  }
  .farmsItemreturnRateText {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-right: 5px;
  }
  .farmsItemBtn {
    width: 100%;
    height: 45px;
    margin: 10px auto;
  }
  .farmsItemImagesmall img {
    width: 100%;
    height: 100%;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  .farmsItemCardsmall:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
