.DrawerToggle {
   width: 40px;
   height: 50px;
   display: flex;
   flex-flow: column;
   justify-content: space-around;
   align-items: flex-start;
   padding: 10px 0;
   box-sizing: border-box;
   cursor: pointer;
   right: 15px;
   position: fixed;
   transition: width .4s;
}

.DrawerToggleLarge {
   width: 80%;
   height: 2px;
   background: #000;
   transform: rotate(180deg);
}

.DrawerToggleSmall {
   width: 60%;
   height: 2px;
   background: #000;
   transform: rotate(180deg);
}

.DrawerToggle:hover {
   width: 50px;
}

@media (max-width:500px) {
   .DrawerToggle{
      height: 45px;
   }
   .DrawerToggleLarge, .DrawerToggleSmall {
      background: #000000;
   }
   .DrawerToggleLarge , .DrawerToggleSmall{
      height: 1.5px;
   }
   .DrawerToggleLarge{
      width: 70%;
   }
   .DrawerToggleSmall{
      width: 50%;
   }
}