.ourStoryTitleContainer {
   justify-content: center;
   display: flex;
   margin: 40px auto;
}
.imageOurstory{
   border-radius: 10px;
}
.ourStoryTitle {
   font-family: IRANSans;
   font-style: normal;
   font-weight: bold;
   font-size: 38px;
   line-height: 63px;
   display: flex;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #708236;
   z-index: 1;
   white-space: nowrap;
}

.ourStoryTitle:after {
   content: "";
   background-color: #708236;
   height: 3px;
   width: 230px;
   margin-right: 1rem;
}

.ourStoryTitle:before {
   content: "";
   background-color: #708236;
   height: 3px;
   width: 230px;
   margin-left: 1rem;
}

.ourStoryContainer {
   width: 100%;
   justify-content: center;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   flex-wrap: wrap;
   margin-bottom: 40px;
}

.ourStoryContainer img {
   width: 1170px;
   height: 567px;
   margin: 0 auto;
}

.ourStoryTxt {
   font-family: IRANSans;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 39px;
   text-align: center;
   text-transform: uppercase;
   /* text/type */
   color: #393939;
   margin: 20px auto;
   display: flex;
   width: 1169px;
}

@media (max-width:500px) {
   .ourStoryContainer img {
      width: 345px;
      height: 167px;
   }
   .ourStoryTxt {
      width: 347px;
      font-size: 13px;
      line-height: 23px;
   }
   .ourStoryTitle {
      font-size: 18px;
      line-height: 31px;
   }
   .ourStoryTitle:after, .ourStoryTitle:before {
      display: none;
   }
}
