.partnershipcategoryTitle {
   font-family: IRANSans;
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 47px;
   text-align: center;
   text-transform: uppercase;
   color: #393939;
   margin: 10px auto;
}
@media (min-width:500px) {
   .partnershipcategoryTitle {
      display: flex;
      justify-content: center;
      font-family: IRANSans;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 110px;
      text-align: center;
      text-transform: uppercase;
      /* text/dark */
      color: #708236;
      margin-bottom: 30px;
   }
}
.partnershipcategoryTitle:after {
   content: "";
   background-color: #708236;
   height: 3px;
   width: 230px;
   margin-right: 1rem;
   margin-top: 3.5rem;
}

.partnershipcategoryTitle:before {
   content: "";
   background-color: #708236;
   height: 3px;
   width: 230px;
   margin-left: 1rem;
   margin-top: 3.5rem;
}