.cardInfoHead{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.farmsItemTitle p {
   font-family: IRANSans;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 31px;
   text-align: right;
   text-transform: uppercase;
   /* text/dark */
   color: #162c17;
   margin: 10px 0 10px 0;
 }