.prevButton {
  background: rgba(255, 255, 255, 0.63);
  border-radius: 0px 10px 10px 0px;
  width: 30px;
  height: 77px;
  position: relative;
  right: -40px;
  bottom: 70px;
}

.prevButton:hover {
  opacity: 0.7;
  transition: 0.4s ease;
}
@media (max-width: 500px) {
  .prevButton {
    display: none;
  }
}
