.homenavigationItems p {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  text-transform: uppercase;
  /* bg */
  color: #fbfbfb;
  cursor: pointer;
  margin: 8px auto;
  white-space: nowrap;
}

.homenavigationItems p:hover {
  color: #005522;
  transition: 0.3s ease;
}

.homenavigationItems {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .homenavigationItems p {
    font-size: 13px;
    line-height: 23px;
  }
}
