.Toolbar {
   width: 100%;
   top: 20px;
   right: 0;
   box-sizing: border-box;
   height: 56px;
   padding: 0 10px;
   margin: 0 auto;
   align-items: center;
   display: flex;
   justify-content: center;
   position: relative;
}

.ToolbarContainer {
   width: 70px;
   height: 100%;
   z-index: 99;
   position: fixed;
}

.scroller {
   display: none;
   width: 100%;
   top: 40%;
   right: 0;
   box-sizing: border-box;
   height: 100px;
   padding: 0 10px;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
   position: relative;
}

@media (min-width:500px) {
   .ToolbarSmall {
      display: none;
   }
}

@media (max-width:500px) {
   .ToolbarContainer {
      display: none;
   }
   .ToolbarSmall {
      width: 100%;
      top: 20px;
      right: 0;
      box-sizing: border-box;
      height: 56px;
      padding: 0 10px;
      margin: 0 auto;
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 99;
   }
}