.farmsItemBtn {
  background: #708236;
  border-radius: 30px;
  width: 230px;
  height: 35px;
  margin-top: 20px;
}

.farmsItemBtn:hover {
  box-shadow: 0 10px 13px -10px #0c2d33;
  background-color: #007a48;
  transition: 0.4s ease;
}

.farmsItemBtn span {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;
}

.farmsItemBtn {
  background: #94C794;
  border-radius: 30px;
  width: 230px;
  height: 35px;
  margin-top: 20px;
}

.farmsItemBtn:hover {
  box-shadow: 0 10px 13px -10px #0c2d33;
  background-color: #007a48;
  transition: 0.4s ease;
}

.farmsItemBtn span {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20%;
}
