.innerPrice {
  display: inline-flex;
  align-items: center;
}


.innerPrice span {
  color: #708236;
}

.itemslogo {
  margin: 0px 0px 0px 20px;
  width: 40px;
  display: flex;
  justify-content: center;
}



@media (max-width: 500px) {
  .itemslogo {
    display: none;
  }
}
