.description {
  display: flex;
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  text-transform: uppercase;
  color: #000000;
  width: 676px;
  font-size: 18px;
  line-height: 31px;
}
@media (max-width: 500px) {
  .description {
    width: auto;
    font-size: 10px;
    line-height: 16px;
  }
}
