.basketItemCard {
  margin: 20px auto;
  padding: 0 5px;
  width: 650px;
  height: 400px;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04),
    0px 0px 8px rgba(96, 97, 112, 0.17);
  border-radius: 15px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.basketItemImage {
  width: 230px;
  height: 370px;
  border-radius: 15px;
}

.basketItemImage img {
  width: 100%;
  height: 100%;
}

.basketItemTitle p {
  font-family: IRANSans;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 55px;
  text-align: right;
  text-transform: uppercase;
  color: #708236;
  margin-right: 10px;
}

.itemslogo {
  margin: 0px 20px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemStatus {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  align-items: center;
}

.itemStatus span {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  text-align: right;
  text-transform: uppercase;
  /* text/type */
  color: #708236;
}

.itemLocation {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  align-items: center;
}

.itemLocation span {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  text-transform: uppercase;
  /* text/input */
  color: #708236;
  white-space: nowrap;
}

.returnInvestment {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  align-items: center;
}

.returnInvestment span,
.basketItemCount span {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  text-transform: uppercase;
  color: #708236;
  
}

.basketItemPrice {
  position: absolute;
  right: 16px;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basketItemPrice p {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 39px;
  text-align: right;
  text-transform: uppercase;
  color: #708236;
  margin-right: 16px;
}
.basketItemCount {
  display: flex;
  flex-direction: row;
  margin: 15px 25px;
}
.basketBuildControl {
  margin: 10px 0;
  align-items: center;
}
.basketBuildControl div {
  justify-content: flex-start !important;
  margin-right: 10px;
}
.basketBuildControl span {
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color: #162c17;
}
@media (max-width: 500px) {
  .basketItemCard {
    width: 100%;
    height: 200px;
    margin: 10px auto;
    padding: 0;
  }
  .basketItemImage {
    width: 133px;
    height: 182px;
  }
  .basketItemTitle p {
    font-size: 18px;
    line-height: 31px;
    margin-right: 5px;
  }
  .itemLocation span {
    font-size: 13px;
    line-height: 23px;
    margin: auto 10px;
  }
  .itemStatus span {
    font-size: 8px;
    line-height: 16px;
    margin: auto 10px;
  }
  .returnInvestment span {
    font-size: 8px;
    line-height: 16px;
    margin: auto 10px;
  }
  .itemLocation,
  .itemStatus,
  .itemslogo,
  .basketItemTitle,
  .returnInvestment {
    margin: 0;
    margin-right: 5px;
  }
  .itemslogo svg {
    height: 14px;
    width: 20px;
  }
  .basketItemPrice p {
    font-size: 13px;
    line-height: 23px;
  }
  .itemslogo {
    width: 20px;
    margin: 0;
  }
  .basketItemCount {
    margin: 10px 10px;
  }

  .basketItemCount {
    margin: 0 10px;
  }
  .basketItemCount span {
    font-size: 10px;
    line-height: 23px;
  }
}
