.itemdescribe {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 650px;
}

.itemTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemTitleContainer span {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
}

.itemslogo {
  margin: 0px 0px 0px 20px;
  width: 40px;
  display: flex;
  justify-content: center;
}

.itemPrice {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: center;
  justify-content: space-between;
}
.itemPrice span {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 39px;
  text-align: right;
  text-transform: uppercase;
  /* text/dark */
  color: #162c17;
  white-space: nowrap;
}
.rate {
  margin: auto 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rateText span {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #000000;

  margin-right: 10px;
}
@media (max-width: 500px) {
  .itemTitle {
    font-size: 18px;
    line-height: 31px;
  }
  .itemslogo {
    margin: 0 0;
    justify-content: flex-start;
    display: flex;
  }
  .itemdescribe {
    width: auto;
    margin: 0;
  }
  .itemdescribe span {
    font-size: 13px;
    line-height: 16px;
    margin: auto 10px;
  }
  .itemPrice {
    margin: 0;
  }
  .rate span {
    margin: 0;
  }
  .rateText {
    display: none;
  }
}
