.ourTeamTitleContainer {
   justify-content: center;
   display: flex;
   margin: 40px auto;
}

.ourTeamTitle {
   font-family: IRANSans;
   font-style: normal;
   font-weight: bold;
   font-size: 38px;
   line-height: 63px;
   display: flex;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #1780df;
   z-index: 1;
   white-space: nowrap;
}

.ourTeamTitle:after {
   content: "";
   background-color: #000;
   height: 3px;
   width: 230px;
   margin-right: 1rem;
}

.ourTeamTitle:before {
   content: "";
   background-color: #000;
   height: 3px;
   width: 230px;
   margin-left: 1rem;
}

.teamGallery {
   position: relative;
   width: 100%;
   margin: auto;
   direction: ltr;
}

.teamGallery ul {
   position: relative;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   white-space: nowrap;
   transform-style: flat;
   -webkit-transform-style: flat;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
}

.teamGallery li {
   position: relative;
   display: inline-block;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   vertical-align: top;
   white-space: normal;
   line-height: 0;
}

.ourTeamContainer {
   display: flex;
   justify-content: center;
}

@media (max-width:500px) {
   .ourTeamTitle {
      font-size: 18px;
      line-height: 31px;
   }
   .ourTeamTitle:after, .ourTeamTitle:before {
      display: none;
   }
}