.workProcessContainer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.workProcessTitleContainer {
  justify-content: center;
  display: flex;
  margin: 40px auto;
}

.workProcessTitle {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 63px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1780df;
  z-index: 1;
  white-space: nowrap;
}

.workProcessTitle:after {
  content: "";
  background-color: #000;
  height: 3px;
  width: 230px;
  margin-right: 1rem;
}

.workProcessTitle:before {
  content: "";
  background-color: #000;
  height: 3px;
  width: 230px;
  margin-left: 1rem;
}
.workProcess {
  display: flex;
}
.workProcessInner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 480px;
  border-radius: 30px;
  overflow-x: hidden;
  background: #fcfefc;
  box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04),
    0px 4px 8px rgba(96, 97, 112, 0.16);
}
.workProcessCol {
  display: flex;
  flex-direction: column;
}
.workProcessInner p {
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: grab;
  overflow: hidden;
}
.carousel.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.dotsControls {
  display: none;
}
@media (max-width: 500px) {
  .workProcessTitle {
    font-size: 18px;
    line-height: 31px;
  }
  .workProcessTitle:after,
  .workProcessTitle:before {
    display: none;
  }
  .workProcessInner {
    box-shadow: none;
    background: transparent;
    height: 250px;
    align-items: flex-start;
  }
  .workProcessCol {
    flex-direction: row;
    max-width: 345px;
    width: 100%;
    margin: 0 10px;
  }
  .carousel {
    overflow: hidden;
    height: 230px;
  }

  .dotsControls {
    display: block;
    text-align: center;
  }
}
